:root {
    --orange-btn: #E29933;
    --orange-ligth-btn: #e0ad66;
  }

.btn-edit:hover,
.btn-back:hover{
    color: #ffffff;
    background-color: var(--orange-btn);;
}

.btn-client:hover{
    color: #ffffff;
    background-color: var(--orange-ligth-btn);;
}

