:root {
    --orange-btn: "red";
  }

.btn-edit{
    color: var(--orange-btn);
    background-color: transparent;
    border: 1px solid var(--orange-btn);
    border-radius: 5px;
}

.btn-edit:hover{
    color: #ffffff;
    background-color: var(--orange-btn);;
}

.btn-client{
    color: var(--orange-btn);
    background-color: transparent;
    border: 1px solid var(--orange-btn);
    border-radius: 5px;
}
